<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charsert="UTF-8">
        <title></title>
    </head>
        <body>
            <h1>タスク詳細</h1>
            <table>
                <tr>
                    <th>タイトル</th>
                    <th>ステータス</th>
                    <th>締切日</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td th:text="${task.title}"></td> 
                    <td th:text="${task.status}"></td> 
                    <td th:text="${task.dueDate}"></td> 
                    <td>
                        <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
                            <button type="submit">削除</button>
                        </form>
                    </td>
                </tr>
            </table>
        </body>
    
</html>